# Connection string

# SQLite
CONNECTION_STRING = "postgresql://dynamo:Dynamo2022@postgis/dynamo"

# Keys
PRIVATE_KEY_FILENAME = "data/keys/dynamo-signalk-storage-server-private.pem"
PUBLIC_KEY_FILENAME = "data/keys/dynamo-signalk-storage-server-public.pem"
PUBLIC_KEY_ROOT      = "data/keys/public"

# Data paths
MEDIA_ROOT = "data/media"
SCRATCH_ROOT = "data/scratch"
TRASH_ROOT = "data/trash"

# Celery
CELERY_BROKER_URL = "pyamqp://guest@localhost//"
CELERY_RESULT_BACKEND = "redis://localhost:6379/0"

# CONCURRENCY
QUEUE_SIZE = 1