{
  "CONNECTION_STRING": "postgresql://dynamo:Dynamo2022@127.0.0.1/dynamo",
  "PRIVATE_KEY_FILENAME": "data/keys/dynamo-signalk-storage-server-private.pem",
  "PUBLIC_KEY_FILENAME":"data/keys/dynamo-signalk-storage-server-public.pem",
  "PUBLIC_KEY_ROOT":"data/keys/public",

  "MEDIA_ROOT":"data/media",
  "SCRATCH_ROOT":"data/scratch",
  "TRASH_ROOT":"data/trash",

  "CELERY": {
    "broker_url": "redis://localhost",
    "result_backend": "redis://localhost",
    "task_ignore_result": false
  }
}