# Connection string

# SQLite
CONNECTION_STRING = "postgresql://dynamo:Dynamo2022@postgis/dynamo"

# Keys
PRIVATE_KEY_FILENAME = "/dynamo-signalk-storage-server/data/keys/dynamo-signalk-storage-server-private.pem"
PUBLIC_KEY_FILENAME = "/dynamo-signalk-storage-server/data/keys/dynamo-signalk-storage-server-public.pem"
PUBLIC_KEY_ROOT      = "/dynamo-signalk-storage-server/data/keys/public"

# Data paths
MEDIA_ROOT = "/dynamo-signalk-storage-server/data/media"
SCRATCH_ROOT = "/dynamo-signalk-storage-server/data/scratch"
TRASH_ROOT = "/dynamo-signalk-storage-server/data/trash"

# Queue manager
QUEUE_MANAGER = "none"
#QUEUE_MANAGER = "naive"
#QUEUE_MANAGER = "celery"

# Concurrency
QUEUE_CONCURRENCY = 1

# Celery
CELERY_BROKER_URL = "pyamqp://guest@localhost//"
CELERY_RESULT_BACKEND = "redis://localhost:6379/0"