werkzeug==2.1.2
Flask==2.1.2
flask-restx==0.5.1
flask-marshmallow==0.14.0
flask-cors==3.0.10
pycryptodome==3.15.0
celery==5.2.7
sqlalchemy==1.4.42
geoalchemy2==0.12.5
redis==4.3.4
itsdangerous==2.1.2
Pyrebase4==4.5.0
psycopg2-binary==2.9.5
